mixin genLand(path, name, difficulty)
    .landGlobal
        a(href=path+".html")
            .landTitle
                +genLandTitle(name)
            .landDifficulty
                +genDifficulty(difficulty)
            .landImage
                +genLandImage(path)

mixin genLandTitle(name)
    p.landTitleWritten #{name}

mixin genLandImage(path)
    img(src=path+"/image.png", width="196px", height="196px")

mixin genDifficulty(difficulty)
    p #{difficulty}/10
