mixin nivGen(path, Start, number, name, lvlPath, secondPoint, modif)
    - for (var nbStart = Start; nbStart <= number; nbStart++)
        if modif !== undefined
            +nivSort(path, nbStart+modif, name, lvlPath, secondPoint)
        else
            +nivSort(path, nbStart, name, lvlPath, secondPoint)

mixin nivSort(path, level, name, lvlPath, secondPoint)
    if lvlPath !== undefined && lvlPath !== ""
        if secondPoint !== undefined && secondPoint !== ""
            if lvlPath < 10
                +nivLink(path, "00"+lvlPath+secondPoint+level, name)
            else if lvlPath > 9 && lvlPath < 100
                +nivLink(path, "0"+lvlPath+secondPoint+level, name)
            else
                +nivLink(path, lvlPath+secondPoint+level, name)
        else if secondPoint == undefined
            if lvlPath < 10
                +nivLink(path, "00"+lvlPath+secondPoint+level, name)
            else if lvlPath > 9 && lvlPath < 100
                +nivLink(path, "0"+lvlPath+secondPoint+level, name)
            else
                +nivLink(path, lvlPath+secondPoint+level, name)
    else
        if level < 10
            +nivLink(path, "00"+level, name)
        else if level > 9 && level < 100
            +nivLink(path, "0"+level, name)
        else
            +nivLink(path, level, name)

mixin nivLink(path, level, name)
    a(href="/" + path + "/" + level + ".html")
        +nivImage("/" + path + "/min/" + level + ".png", level, name)

mixin nivImage(path, level, name)
    - var reg = /[(O)]/gi;
    - var numLvl = path.split("/min/")
    - var orderPath = numLvl[0]+"/min/(O)-"+numLvl[1]
    if imageExists(orderPath)
        if name !== undefined
            if labyHeight !== undefined
                .defineLaby
                    img.minia(src=numLvl[0]+"/min/(O)-"+numLvl[1], alt=level, title="(ordre connu) - "+ name + " - " + level, width=labyLong, height=labyHeight)
                    img.ordreLaby(src="/misc/medal.png", width=medalWidth, height=medalWidth)
            else
                .define
                    img.minia(src=numLvl[0]+"/min/(O)-"+numLvl[1], alt=level, title="(ordre connu) - "+ name + " - " + level, width="100px", height="119px")
                    img.ordre(src="/misc/medal.png", width="20px", height="20px")
        else
            .define
                img.minia(src=numLvl[0]+"/min/(O)-"+numLvl[1], alt=level, title="(ordre connu) - " + level, width="100px", height="119px")
                img.ordre(src="/misc/medal.png", width=medalWidth, height=medalWidth)
    else if imageExists(path)
        if name !== undefined
            if labyHeight !== undefined
                img.minia(src=numLvl[0]+"/min/"+numLvl[1], alt=level, title=name + " - " + level, width=labyLong, height=labyHeight)
            else
                img.minia(src=path, alt=level, title=name + " - " + level, width="100px", height="119px")
        else
            img.minia(src=path, alt=level, title=alt, width="100px", height="119px")
    else if !imageExists(path) && !imageExists(orderPath)
        if labyHeight !== undefined
            img.minia(src="/niveaux/unknown.png", alt="unknown", title="unknown", width=labyLong, height=labyHeight)
        else
            img.minia(src="/niveaux/unknown.png", alt="unknown", title="unknown", width="100px", height="119px")

mixin imageWithFallback(path, alt, name)
  - var reg = /[(O)]/gi;
  - var numLvl = path.split("/min/")
  - var orderPath = numLvl[0]+"/min/(O)-"+numLvl[1]
  if imageExists(orderPath)
    if name !== undefined
      .define
        img.minia(src=numLvl[0]+"/min/(O)-"+numLvl[1], alt=level, title="(ordre connu) - "+ name + " - " + level, width="100px", height="119px")
        img.ordre(src="/misc/medal.png", width="20px", height="20px")
    else
      .define
        img.minia(src=numLvl[0]+"/min/(O)-"+numLvl[1], alt=level, title="(ordre connu) - " + level, width="100px", height="119px")
        img.ordre(src="/misc/medal.png", width="20px", height="20px")
  else if imageExists(path)
    if name !== undefined
      img.minia(src=path, alt=alt, title=name + " - " + alt, width="100px", height="119px")
    else
      img.minia(src=path, alt=alt, title=alt, width="100px", height="119px")
  else if !imageExists(path) && !imageExists(orderPath)
    img.minia(src="/niveaux/unknown.png", alt="unknown", title="unknown", width="100px", height="119px")


mixin dimEntranceGen(path, dimPath)
  a(href="/" + path + "/" + dimPath +".html")
    +imageWithFallback("/" + path + "/min/" + dimPath + ".png", dimPath)

mixin dimLevelGen(path, levelPath, name)
  a(href="/" + path + "/" + levelPath + ".html")
    +imageWithFallback("/" + path + "/min/" + levelPath + ".png", levelPath, name)

mixin dimEntranceGen0(path, dimPath, dim)
  if dim < 10
    +dimEntranceGen(path, "00" + dim + dimPath)
  else if dim > 9 && dim < 100
    +dimEntranceGen(path, "0" + dim + dimPath)
  else
    +dimEntranceGen(path, dim + dimPath)

mixin dimLevelGen0(path, dimPath, dim, level, name)
  if dim < 10
    +dimLevelGen(path, "00" + dim + dimPath + "." + level, name)
  else if dim > 9 && dim < 100
    +dimLevelGen(path, "0" + dim + dimPath + "." + level, name)
  else
    +dimLevelGen(path, + dim + dimPath + "." + level, name)

mixin dimGen(path, dimPath, dim, dimLevels, name)
  br
  br
  br
  br
  if name != undefined
    if dimPath != undefined
      p Dimension #{dim}#{dimPath} - #{name}
    else
      p Dimension #{dim} - #{name}
  .Niv
    +dimEntranceGen0(path, dimPath, dim)
    .eloi
      - for (let level = 0; level < dimLevels; level++)
        +dimLevelGen0(path, dimPath, dim, level, name)

//- Used for pds which ain't linear (like the official game's pd33)
mixin dimGenSpecial(path, dimPath, dim, levels, name)
  br
  br
  br
  br
  if name != undefined
    if dimPath != undefined
      p Dimension #{dim}#{dimPath} - #{name}
    else
      p Dimension #{dim} - #{name}
  .Niv
    +dimEntranceGen0(path, dimPath, dim)
    .eloi
      for level in levels
        +dimLevelGen(path, level, name)
