extends ../_layoutEter

include ../includes/_lands.pug

block content
    .eter
        h1 Contrées
        br
        br
        p Dans Eternalfest, il y a des dizaines et des dizaines de contrées. Celles-ci sont publiées au fil du temps. Voici la liste de ces contrées, triées par difficulté :
        +genLand("/eternalfest/contrees/niveauDuJour", "Niveau Du Jour", "?")
        +genLand("/eternalfest/contrees/aleaJactaEst", "Alea Jacta Est", "?")
        +genLand("/eternalfest/contrees/hammerfest2", "Hammerfest II", "?")
        +genLand("/eternalfest/contrees/soccerfest", "Soccerfest", 0)
        +genLand("/eternalfest/contrees/ololzd", "Ololzd", 0)
        +genLand("/eternalfest/contrees/sousLaColline", "Sous La Colline", 1)
        +genLand("/eternalfest/contrees/GVOMIDFRANBOIZ", "G VOMI D FRANBOIZ", 2)
        +genLand("/eternalfest/contrees/chuteLibre", "Chute Libre", 2)
        +genLand("/eternalfest/contrees/eternoel", "Eternoël", 3)
        +genLand("/eternalfest/contrees/nouvelleCachetteDuPlombier", "Nouvelle Cachette du Plombier", 3)
        +genLand("/eternalfest/contrees/wickedGame", "Wicked Game", 4)
        +genLand("/eternalfest/contrees/templeDesAbimes", "Temple Des Abîmes", 5)
        +genLand("/eternalfest/contrees/dedaleInfernal", "Dédale Infernal", 5)
        +genLand("/eternalfest/contrees/flatland", "Flatland", 5)
        +genLand("/eternalfest/contrees/echiquier", "Échiquier", 6)
        +genLand("/eternalfest/contrees/himmelen", "Himmelen", 6)
        +genLand("/eternalfest/contrees/eternelDesespoir", "Eternel Désespoir", 6)
        +genLand("/eternalfest/contrees/landesViolettes", "Landes Violettes", 7)
        +genLand("/eternalfest/contrees/mausoleeDesVirtuoses", "Mausolée des Virtuoses", 8)
        +genLand("/eternalfest/contrees/eternelRecommencement", "Eternel Recommencement", 8)
        +genLand("/eternalfest/contrees/templeOublie", "Temple Oublié", 9)
        +genLand("/eternalfest/contrees/grotteDesHeros", "Grotte des Héros", 9)

        include ../includes/_br
