extends ../_layoutEter

block retour
    a(href="/index.html") Retour

block content
    .eter
        h1 Records
        br
        p Un paragraphe
        p Un autre paragraphe
        p Un paragraphe avec
            a(href="https://fr.wikipedia.org/wiki/Wikip%C3%A9dia:Accueil_principal") un lien
            | dedans
        ul
            li Une liste
            li Un élément de plus dedans
        br
        h2 Un titre
        br
        p Maintenant démerdes toi :P