extend ../_layout.pug

block content
  .text
    h1 Les familles
    each family in families
      h3 Familles&nbsp;
        =family.name.fr
      table
        tr
          th Nom
          th Coefficient
          if family.id >= 1000
            th Valeur
        each item in family.items
          tr
            td
              img(src="/assets/img/items/" + item.id + ".svg").item
              =item.name.fr
            td=item.rarity
            if family.id >= 1000
              td=item.value
