extends ../../_layoutAide.pug

block content
  .text
    h1 Descriptions - Niveaux
    br
    p Des descriptions de niveaux ! Merveilleux ! Vous n'allez pas vous ennuyer, il faudrait en faire environ 800...
    p Voici comment faire : 
    p Premièrement, il faut se rendre sur
        a(href="https://drive.google.com/drive/folders/169K0OGqCigA7Hi8sti3mWZkjNG8EDiOd?usp=sharing")  mon drive
        |  (n'oubliez pas de bien lire la petite documentation que j'y ai laissé avant de toucher à quoi que ce soit)
    p Je vous conseille donc de télécharger tout le fichier correspondant à la contrée, pour travailler dessus tranquillement.
    p Ensuite, en ouvrant un fichier vous obtiendrez ceci :
    img(src="/aide/descriptions/insidePointMd.png")
    ul
        li "title" correspond au titre du niveau
        li "Images" correspond au(x) screen(s) du niveau
        li "video" correspond au lien qui mène sur une vidéo du niveau où l'ordre est fait en -0
        li "prev" correspond au lien du niveau précédent
        li "next" correspond au lien du niveau suivant
        li "dims" (non présent sur l'image) correspond aux éventuels liens vers des dimensions.
    p La description du niveau devra être mise à partir de la deuxième ligne en dessous des ``` du dessous : Il faut une description de la façon dont réussir le niveau, suivi de la façon dont réussir l'ordre.
