extends ../../../_layoutNiveauDuJour.pug
include ../../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)


block content
    .eter
        h1 Avril
        br
        br
        - var path = "eternalfest/contrees/niveauDuJour/avril" 
        +lvl(path, 1, 7, "Sanctuaires tabous de Fever")
        +lvl(path, 8, 14, "Falaises poreuses du dernier cornet")
        +lvl(path, 15, 21, "Villes compulsives des torses velus")
        +lvl(path, 22, 28, "Océans de la Mort-qui-tue")
        +lvl(path, 29, 30, "Les Cavités prohibées")
        include ../../../includes/_br