extends ../../../_layoutNiveauDuJour.pug
include ../../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Juin
        - var path = "eternalfest/contrees/niveauDuJour/juin"
        br
        br
        +lvl(path, 1, 2, "Ziggourats naturalchimiques de Cilorile")
        +lvl(path, 3, 9, "Enfantins Ossuaires des Nations-Unies")
        +lvl(path, 10, 16, "Les Chambres tuberculiennes du Scrabble")
        +lvl(path, 17, 23, "Rivages maladifs des Bisounours")
        +lvl(path, 24, 30, "Égouts du TARDIS")
        include ../../../includes/_br
