extends ../_layout.pug

block content
    .text
        h1 Les techniques de base
        p Voici les techniques de base, que quasiment tout le monde doit connaître et savoir appliquer pour bien jouer au jeu.
        ul
            li
                a(href="/techniques/cacheEnnemi.html") Théorème du Cache-Ennemi
            li
                a(href="/techniques/tiersEtage.html") Technique du tiers-étage
            li
                a(href="/techniques/doubleSaut.html") Technique du double-saut
            li
                a(href="/techniques/sauteMouton.html") Technique du saute-mouton
            li
                a(href="/techniques/bombeEnDiagonale.html") Envoyer un bombe en diagonale
            
