extends ../../../_layoutEter.pug
include ../../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var path = "eternalfest/contrees/templeOublie"
        h1 Le Temple Oublié, la Base Secrète de GardienTO
        +dim(path, ".0.89", 2, 21, "Base secrète de GardienTO")
        +dim(path, ".0.89.8", 2, 11, "Muttter land")
        include ../../../includes/_br.pug