extends ../../../_layoutEter.pug
include ../../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        - var path = "eternalfest/contrees/templeOublie" 
        h1 Le Temple Oublié, les dimensions
        +dim(path, "", 2, 1, "Le sous-sol des gardiens")
        +dim(path, ".0.4", 2, 7, "Bug land")
        +dim(path, ".0.9", 2, 10, "La cachette des instables")
        +dim(path, ".0.22", 2, 16, "L'oubliette")
        +dim(path, ".0.32", 2, 11, "Fructior glacide")
        +dim(path, ".0.62", 2, 7, "Spirale infernale")
        +dim(path, ".0.65", 2, 9, "Frimas coopératif")
        +dim(path, ".0.84", 2, 12, "Etape bonne humeur")
        include ../../../includes/_br.pug
