extends ../../../_layoutEter.pug
include ../../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Le Temple Oublié, le Sanctuaire des Abysses
        - var path = "eternalfest/contrees/templeOublie"
        +dim(path, ".0.89.20.(18;9).3", 2, 22, "Sanctuaire des abysses")
        include ../../../includes/_br.pug
