extends ../../../_layoutEter.pug
include ../../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)


block content
    .eter
        -var path = "eternalfest/contrees/templeOublie"
        h1 Le Temple Oublié, dimension 2.0 (principale).
        br
        +lvl(path, 0, 89, "Le temple oublié !", 2, ".0.")
        include ../../../includes/_br.pug