extends ../../../_layoutEter.pug
include ../../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var nbLarg = 0
        -var Largeur = 12
        -var path = "eternalfest/contrees/templeOublie"
        h1 Le Temple Oublié, le Tunnel Sans Fin
        br
        - var labyHeight = "48px"
        - var labyLong = "40px"
        - var medalWidth = "10px"
        - for (var Larg = nbLarg; Larg < Largeur; Larg++)
            +lvl(path, -6, 18, "le Tunnel sans fin...", 2, ".0.89.20.(",";"+Larg+")")
        +dim(path, ".0.89.20.(1;9)", 2, 11, "Le temple des épreuves")
        +dim(path, ".0.89.20.(18;9)", 2, 4)
        include ../../../includes/_br.pug