extends ../_layoutAide.pug

block content
  .text
    h1 Ordres
    br
    p Vous avez choisi d'aider pour les ordres ? Formidable !
    p Pour ce faire, il faut d'abord aller sur 
        a(href="https://drive.google.com/drive/folders/169K0OGqCigA7Hi8sti3mWZkjNG8EDiOd?usp=sharing") mon drive
        | .
    p N'oubliez pas de lire le petit fichier que j'ai crée avant de modifier quelque chose.
    p Maintenant, il vous faut installer GIMP, ou tout autre logiciel du genre, trouvable 
        a(href="https://www.gimp.org/downloads/") ici
        | .
    p Une fois téléchargé, lancez l'application, et ouvrez un niveau dont vous voulez rajouter l'ordre avec.
    p Ensuite, il suffit de glisser les chiffres au dessus des bons ennemis :
        img(src="/aide/0.png")
        img(src="/aide/1.png")
        img(src="/aide/2.png")
        img(src="/aide/3.png")
        img(src="/aide/4.png")
        img(src="/aide/5.png")
        img(src="/aide/6.png")
        img(src="/aide/7.png")
        img(src="/aide/8.png")
        img(src="/aide/9.png")
    p Enfin, enregistrez le niveau, mettez-le dans le dossier "Ordres" dans le drive ^^
