extends ../_layout.pug
include ../includes/_nivGen.pug

mixin dim(dimName, dimLevels, name)
  +dimGen("niveaux", "", dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .text
        h1 Les Enfers
        - var path = "niveaux"
        br
        p Les Enfers sont la dernière dimension ajoutée au jeu, et également de loin la plus difficile. On y trouve plein d'objets en tout genre, et c'est aussi une source de points incroyable pour les joueurs les plus expérimentés.
        br
        br
        +dim(54, 13, "Les enfers")
        +dim(54.12, 2, "La tanière des Framboijules")
        <br><br><br><br>
        .niveauxEnfers
            .gauche
                p Crypte Framboisée
                br
                +lvl(path, 0, 18, "Crypte framboisée", 54, ".12.1G.")
                br
                br
                p Vraie Tombe de Tuberculoz
                br
                +lvl(path, 0, 4, "La véritable tombe de Tubz !", 54, ".12.1G.18.")
            .droite
                p Métal Hurlant
                br
                +lvl(path, 0, 9, "Metal hurlant", 54, ".12.1D.")
                br
                br
                br
                +lvl(path, 0, 3, "L'entrée du tombeau !", 54, ".12.1D.9.")
                br
                br
                p Faux Tombeau de Tuberculoz
                br
                +lvl(path, 0, 16, "Le tombeau de Tuberculoz", 54, ".12.1D.9.3.")
                br
                br
        +dimGen(path, ".12.1D.9.3.10", 54, 10, "Cachette des conseillers")
        br
        br
        br
        
        <br><br><br><br>