extends ../_layout.pug
include ../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .text
        - var path = "niveaux"
        h1 Le Puits
        br
        p Le puits se compose de 107 niveaux (de 0 à 106) dont les 104 premiers sont accessibles à tout le monde. Pour avoir accès aux 3 derniers niveaux, il faut disposer du mode "Explosifs Instables"
        br
        +lvl(path, 0, 1, "Village de Hammerfest")
        +lvl(path, 2, 9, "Les premières cavernes")
        +lvl(path, 10, 15, "Le terrier glissant")
        +lvl(path, 16, 19, "Profondeurs oubliées")
        +lvl(path, 20, 30, "Cavernes des Vert-tiges")
        +lvl(path, 31, 40, "Région du Frimas")
        +lvl(path, 41, 50, "Strates supérieures de Morgenfell")
        +lvl(path, 51, 60, "Domaine Mangue-qui-roule")
        +lvl(path, 61, 70, "Souterrain de la Prune")
        +lvl(path, 71, 80, "Jungle cavernicole")
        +lvl(path, 81, 106, "La grotte versicolore")
        br
        p Voici également les anciens niveaux de hammerfest du 104 au 114, qui ont malheureusement été retiré et sont donc inaccessibles :
        br
        +lvl(path, 104, 114, "Le temple des Épreuves", "", "", "ancien")