doctype html
html
    head(prefix="og: http://ogp.me/ns#")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        block title
            title Help Hammerfest !
        if title && images && images[0]
            meta(property="og:title" content=title + " - Help Hammerfest !")
            meta(property="og:type" content="article")
            meta(name="twitter:card" content="summary_large_image")
            meta(property="og:image" content=server_url + images[0])
            meta(property="og:image:width" content="420")
            meta(property="og:image:height" content="500")
        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", href="/assets/indexEter.css")
        base(href="/")
    body
        include includes/_version.pug
        .corps
            nav
                ul
                    li.menu-contrees
                        a(href="/eternalfest/contrees.html") Contrées
                    li.menu-creations
                        a(href="/eternalfest/creations.html") Créations
                        ul.submenu
                            li
                                a(href="/eternalfest/creations/niveaux.html")
                                    img(src="/assets/img/items/4.svg")
                                    |  Niveaux
                            li
                                a(href="/eternalfest/creations/musiques.html")
                                    img(src="/assets/img/items/21.svg")
                                    |  Musiques
                            li
                                a(href="/eternalfest/creations/concours.html")
                                    img(src="/assets/img/items/28.svg")
                                    |  Concours
                            li
                                a(href="/eternalfest/creations/outils.html")
                                    img(src="/assets/img/items/85.svg")
                                    |  Outils
                    li.menu-achievements
                        a(href="/eternalfest/achievements.html") Achievements
                    li.retour
                        block retour
                            retour
                            a(href="/index.html") Retour
        block content
          
            