extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Alea Jacta Est
        -var path = "eternalfest/contrees/aleaJactaEst"
        br
        p Alea Jacta Est est une contrée courte et originale d'EternalCool, où l'aléatoire est maître du jeu.
        p En effet, le fond, les ennemis, les plate-formes et les vortex sont totalement aléatoires, provoquant ainsi des milliards de possibilités pour un seul niveau.
        p Il existe aussi une faible probabilité ques les PFs et les fonds soient recolorés.
        P Egalement, un fruit a aussi une certaine probabilité de ne pas apparaître, pouvant donner une difficulté très variable.
        +lvl(path, 0, 11, "Alea Jacta Est")
        br
        br
        p Voici également le niveau de la dimension, dont le vortex qui y mène peut apparaitre dans tous les niveaux :
        a(href="/eternalfest/contrees/aleaJactaEst/X.0.html")
            if imageExists("/"+path+"/X.0.png")
                img.minia(src="/"+path+"/X.0.png", alt="X.0", title="Alea Jacta Est - X.0", width="100px", height="119px")
            else if !imageExists("/"+path+"/X.0.png")
                img.minia(src="/niveaux/unknown.png", alt="unknown", title="unknown", width="100px", height="119px")
        include ../../includes/_br