extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var cheminDim = ""
        -var path = "eternalfest/contrees/chuteLibre"
        h1 Chute Libre !
        br
        p Fan-made, cette contrée créée par Kiba22 a été rendue éternelle le 22 février 2019 !
        br
        br
        +lvl(path, 0, 10, "Chute Libre !")
        include ../../includes/_br