extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Dédale Infernal
        - var path = "eternalfest/contrees/dedaleInfernal"
        br
        p Voici le Dédale Infernal ! Contrée publiée le 11 janvier 2019 à 20h ! Attention cependant, cette contrée est plus difficile que les précédentes ^^
        br
        +lvl(path, 0, 22, "Dédale Infernal")
        +dim(path, "", 7, 1, "Lolicorne")
        include ../../includes/_br
