extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Echiquier
        - var path = "eternalfest/contrees/echiquier"
        br
        p Voici l'Echiquier ! Une contrée d'Eternalfest au design très particulier...
        br
        +lvl(path, 0, 0, "Le Cube")
        +dim(path, "", 0, 8,"L'échiquier''")
        +dim(path, "", 0, 8,"L'autre échiquier")
        +dim(path, "", 0, 0,"L'hypercube")
        include ../../includes/_br
