extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(dimName, dimLevels, name)
  +dimGen("niveaux", "", dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        - var path = "eternalfest/contrees/eternoel"
        h1 Eternoël
        br
        p Voici les niveaux d'Eternoël, la toute première contrée publique d'Eternalfest ! Sortie le 25 décembre 2018 à minuit ! 
        br
        br
        +lvl(path, 0, 20, "Eternoël")
        +lvl(path, 21, 25, "Sous-sol secret de l'Eternoël")
        +dimGen(path, "", 25, 9, "Contrée bonus-bonus")
        include ../../includes/_br
