extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Eternel Désespoir
        - var path = "eternalfest/contrees/eternelDesespoir"
        br
        p Voici EternalDesespoir ! Une contrée où vous devrez passer les pires niveaux d'Hammerfest en -0, de quoi mettre vos nerfs à vif.
        br
        +lvl(path, 0, 7, "Eternel Désespoir")
        include ../../includes/_br
