extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        h1 Eternel Recommencement
        - var path = "eternalfest/contrees/eternelRecommencement"
        br
        p Voici Eternel Recommencement ! Vous mourez dans un niveau ? Les ennemis se replacent comme au début : vous devez passer chaque niveau sans perdre de vie... Y arriverez-vous ?
        br
        +lvl(path, 0, 28, "Eternel Recommencement")
        include ../../includes/_br
