extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var cheminDim = ""
        -var path = "eternalfest/contrees/flatland"
        h1 Flatland
        br
        p Première contrée d'EternalChemist sortie officiellement, elle va probablement vous retourner le cerveau...
        br
        br
        +lvl(path, 0, 15, "Flatland")
        br
        +dim(path, "", 0, 13, "Espace de réflexion")
        +dim(path, "", 6, 6, "Sous-espace vectoriel de dimension 2")
        include ../../includes/_br