extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var path = "eternalfest/contrees/mausoleeDesVirtuoses"
        h1 La Grotte des Héros
        br
        p La Grotte des Héros, par EternalSadist, est une des contrées d'une triologie extrêmement difficile.
        br
        +lvl(path, 0, 20, "Grotte des Héros")
        +dim(path, "", 0, 3,"")
        include ../../includes/_br
