extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var cheminDim = ""
        -var path = "eternalfest/contrees/GVOMIDFRANBOIZ"
        h1 G VOMI D FRANBOIZ
        br
        p Contrée Créée par EternalSky, elle est là dans le but quasi exclusif de faire laguer notre PC... A moins que...
        br
        br
        +lvl(path, 0, 9, "G VOMI D FRANBOIZ")
        include ../../includes/_br