extends ../../_layoutEter.pug
include ../../includes/_nivGen

block content
    .eter
        h1 Hammerfest II
        br
        p Hammerfest II est une contrée troll créée par EternalGorithm, et qui est sortie le premier 1er avril 2019.
        p Elle repose sur quelques concepts assez fous :
        p Elle reprend exactement tous les niveaux d'Hammerfest classique, à la différence près que quelques mécanismes sont modifiés, comme par exemple le fait que les niveaux sont aléatoires...
        p Dans la contrée :
        ul
            li Les parapluies téléportent en arrière (à noter que les fruits réapparaissent dans ce cas).
            li Les pièces fuient quand on s'approche d'elles.
            li Tubz spawne des fruits totalement aléatoires.
            li Les pierres du changements sont recolorées.
            li Les sprites des fruits sont mélangés.
        p Egalement, les niveaux sont de plus en plus aléatoires au fur et à mesure du puits, et aléatoires à 40% au sein des dimensions. A noter également que dans celles-ci, les niveaux d'entrée et de fin restent à la première et dernière place, seul les niveaux entre sont aléatoires.
        br
        p Il y a également beaucoup de hasard :
        ul
            li 30% de chance que les cristaux soient recolorés
            li 90% de chance que les lettres soient tournées
            li 50% de chance que les gros cristaux soient recolorés
            li 10% de chance que les gros cristaux arrivent par le bas du niveau
            li 2.5% de chance qu'un faux gros cristal tombe (il rapporte 0 point)
            li 5% de chance que les objets à effet aient des effets aléatoires
            li 7.5% de chance que les objets à points donnent des points négatifs
            li 85% de chance que les objets à effet de projectiles aient des projectiles différents
            li 35% de chance que les objets à effet de projectiles aient des sprites différents, mais le même effet
            li 30% de chance que les projectiles des objets à effet de projectiles aient une vitesse différente.
            li 3% de chance que les abricots fassent 3 petits à leur mort
            li 10% de chance que le glaçon d'un ennemi gelé aient le logo Eternalfest dessus
        br
        p Il est difficile de se figurer le niveau de WTF de cette contrée en lisant de simples lignes, c'est pourquoi je vous conseille d'aller directement tester la contrée sur 
            a(href="https://eternalfest.net/") Eternalfest
            |  !
        include ../../includes/_br


