extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var cheminDim = ""
        -var path = "eternalfest/contrees/himmelen"
        h1 Himmelen
        br
        p Fan-made, cette contrée créée par 6avalanche a été rendue éternelle le 22 février 2019 !
        br
        br
        a(href="/"+path+"/intro.html")
                img.minia(src="/"+path+"/min/intro.png", alt="intro", title="Entrée d'Himmelen", width="100px", height="119px")
        +lvl(path, 0, 10, "Himmelen")
        +lvl(path, 11, 11, "Purgatoire")
        include ../../includes/_br