extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var cheminDim = ""
        -var path = "eternalfest/contrees/landesViolettes"
        h1 Les Landes Violettes
        br
        p Voici les landes violettes ! Imaginées pour la première fois par YellowXirty il y a presque 10 ans, Eternalfest va les rendre eternelles ce vendredi 8 février 2019 !
        br
        +lvl(path, 0, 17, "Landes Violettes")
        include ../../includes/_br
