extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var path = "eternalfest/contrees/mausoleeDesVirtuoses"
        h1 Le Mausolée des Virtuoses
        br
        p Le Mausolée des Virtuoses, par EternalSadist, compte comme l'une des contrées les plus longues d'Eternalfest. Elle est pourvue d'une certaine difficulté, qui va donner du fil à retordre à nombre d'Hammerfestian !
        br
        +lvl(path, 0, 40, "Mausolée des Virtuoses")
        +dim(path, "", 0, 12,"Contrée du Ninja Déchu")
        +dim(path, "", 6, 8,"Contrée du Ninja Joueur")
        +dim(path, "", 9, 9,"Contrée du Ninja Belligérant")
        +dim(path, "", 10, 11,"Contrée du Ninja Sadique")
        +dim(path, "", 18, 9,"Contrée du Ninja Intrépide")
        +dim(path, "", 23, 9,"Contrée du Ninja Furtif")
        +dim(path, "", 27, 6,"Contrée du Ninja Duelliste")
        include ../../includes/_br
