extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var path = "eternalfest/contrees/nouvelleCachetteDuPlombier"
        h1 La Nouvelle Cachette du Plombier
        br
        p Voici la 4ème contrée d'Eternalfest ! Elle est sortie le vendredi 25 janvier 2019 à 20h.
        br
        br
        +lvl(path, 0, 17, "Nouvelle Cachette du Plombier")
        +lvl(path, 18, 20, "Pétage de Plombs")
        +dim(path, "", 0, 5, "Chambre de la plombière")
        +dim(path, ".4", 0, 1, "Chambre de l'amant")
        +dim(path, "", 1, 11, "Le Puits de Change")
        +dim(path, "", 5, 1, "Georges c'est mon KOUPIN !")
        +dim(path, "", 11, 12, "Et la peluche Igor est toujours en exclusive u_u")
        +dim(path, "", 12, 7, "")
        +dim(path, "", 16, 1, "Compil' des niveaux Hard d'Eternalfest")
        .mil
            +lvl(path, 18, 18, "Pétage de Plombs")
        .niveauxPlombier
            .gauche
                p Dimension gauche
                br
                +lvl(path, 0, 10, "", 18, "G.")
                br
                br
            .droite
                p Dimension droite
                br
                +lvl(path, 0, 8, "", 18, "D.")
        br
        +dim(path, "G.7", 18, 4, "Fosse sceptique")
        br
        +dim(path, "", 20, 1)
        .labyNCP
            -var nbLarg = 0
            -var Largeur = 3
            - var labyHeight = "119px"
            - var labyLong = "100px"
            - var medalWidth = "20px"
            - for (var Larg = nbLarg; Larg < Largeur; Larg++)
                +lvl(path, -1, 1, "", 20, ".0.(",";"+Larg+")")
        br
        .mil
            +lvl(path, 2, 2, "", 20, ".")
        include ../../includes/_br
