extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)


block content
    .eter
        -var path = "eternalfest/contrees/sousLaColline"
        h1 Sous la Colline
        br
        p Petite contrée très simple et emblématique d'Eternalfest, sortie le mardi 5 mars 2019 !
        br
        br
        +lvl(path, 0, 9, "Sous la colline")
        include ../../includes/_br.pug