extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
  .eter
    - var path = "eternalfest/contrees/templeDesAbimes"
      h1 Temple des Abîmes
      br
      p Fan-made, cette contrée créée par KeizerAxel a été rendue éternelle le 22 février 2019 !
      br
      br
      a(href="/"+path+"/intro.html")
          img.minia(src="/"+path+"/min/intro.png", alt="intro", title="Entrée du temple", width="100px", height="119px")
      +lvl(path, 0, 12, "Temple des abîmes")
      include ../../includes/_br
