extends ../../_layoutEter.pug
include ../../includes/_nivGen

mixin dim(path, dimPath, dimName, dimLevels, name)
  +dimGen(path, dimPath, dimName, dimLevels, name)

mixin lvl(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)
    +nivGen(path, nbStart, numberEnd, name, lvlPath, secondPoint, modif)

block content
    .eter
        -var cheminDim = ""
        -var path = "eternalfest/contrees/wickedGame"
        h1 WickedGame
        br
        p Contrée globalement difficile créée par Eternallèle, elle compte une quarantaine de niveaux !
        br
        br
        +lvl(path, 0, 19, "Wicked Game")
        br
        br
        br
        .mil
            +lvl(path, 19, 19, "Wicked Game")
        .niveauxPlombier
            .gauche
                p Dimension Haute : 19H - Le cimetière enfernal
                br
                +lvl(path, 0, 13, "Le cimetière enfernal", 19, "H.")
                br
                br
            .droite
                p Dimension Basse : 19B - Le labyrinthe punitif
                br
                +lvl(path, 0, 9, "Le labyrinthe punitif", 19, "B.")
        include ../../includes/_br