extend ../_layout.pug

block content
  - items.sort((a, b) => { return b.rarity - a.rarity })
  - let rarity = 8
  .toc
    h2 Sommaire
    div
      each item in items
        if item.rarity != rarity
          - rarity = item.rarity
          a(href="#coeff" + item.rarity)
            .item-box
              img(src="/assets/img/items/" + item.id + ".svg")
              | &nbsp;
            | Coefficients 
            = item.rarity
          br
  - rarity = 8
  .text
    h1 Les coefficients
    p Les objets ont ce qu'on appelle un coefficient de rareté, qui détermine leur probabilité d'apparaitre en jeu. À de rares exceptions près, plus le coefficient est élevé, moins on a de chance de trouver l'objet en jeu.
    p Voici la liste des probabilités d'apparition pour chaque coefficient :
    ul
      li Coefficient 7 : 60
      li Coefficient 6 : 1
      li Coefficient 5 : 10
      li Coefficient 4 : 100
      li Coefficient 3 : 300
      li Coefficient 2 : 1000
      li Coefficient 1 : 2000
      li Coefficient 0 : 0
    p Les coefficients 0 ne peuvent apparaitre qu'à des endroits précis dans le jeu (comme les clés), ou après un évènement (comme les cristaux ou les petits champignons). Bien que les clés et les pads soient notés coefficient 6 dans le jeu, leurs familles ne sont jamais débloquées et il est impossible de les voir apparaître à des emplacements standards d'objets. Ces objets sont donc à considérer comme des coefficients 0.
    p Il existe une technique appelée le blocage de quêtes, qui consiste à bloquer certaines quêtes pour augmenter la probabilité d'apparition de certes objets à coefficient 5. C'est notamment le cas de la 
      img(src="/assets/img/items/1192.svg")
      | &nbsp;Méluzzine, de la 
      img(src="/assets/img/items/1213.svg")
      | &nbsp;Liqueur maléfique ou de l' 
      img(src="/assets/img/items/1218.svg")
      | &nbsp;Agrafeuse du Chaos.
    p Le seul joueur connu à avoir débloqué un coefficient 6 autre que le 
      img(src="/assets/img/items/112.svg")
      | &nbsp;Pioupiou carnivore est 
      a(href="http://www.hfest.net/user.html/63782") JoeKickass
      |, sur le serveur anglais.
    each item in items
      if item.rarity != rarity
        h2(id="coeff" + item.rarity) Coefficients 
          =item.rarity
        - rarity = item.rarity
      .item-box
        img(src="/assets/img/items/" + item.id + ".svg").item
        | &nbsp;
      =item.name.fr
      br
